<h4 class="center-align">Aceptar Solicitudes</h4>
<table class="table responsive-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                fecha solicitud
            </th>
            <th>
                inmuebleId
            </th>
            <th>
                ClienteId
            </th>
            <th>
                oferta economica
            </th>
            <th>
                EstadoId
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: regPorPagina, currentPage: pagina }">
            <th>
                {{r.id}}
            </th>
            <th>
                {{r.fecha_solicitud}}
            </th>
            <th>
                {{r.inmuebleId}}
            </th>
            <th>
                {{r.clienteId}}
            </th>
            <th>
                {{r.Oferta_economica}}

            </th>
            <th>
                {{r.estadoId}}
            </th>
            <th>
                <a class="waves-effect green waves-light btn" routerLink="/seguridad/eliminar-solicitud/{{r.id}}/{{r.clienteId}}"><i
                        class="material-icons left">check</i>aceptar</a>
                &nbsp;&nbsp;
                
                <a class="waves-effect red waves-light btn" routerLink="/seguridad/rechazar-solicitud/{{r.clienteId}}/{{r.clienteId}}"><i
                        class="material-icons left">delete</i>rechazar</a>
                
            </th>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="CambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>