<fieldset>
    <legend>Formulario para nuevos usuarios</legend>
    <div class="row">
        <form [formGroup]="fgValidador" class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="document" formControlName="document" type="number">
                    <label for="document">Documento</label>
                    <div class="warning-validator"
                        *ngIf="fgv.document.errors && (fgv.document.dirty || fgv.document.touched)">
                        <strong *ngIf="fgv.document.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.document.errors.minlength">
                            Este campo debe tener al menos {{documentMinLength}} caracteres.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">phone</i>
                    <input formControlName="phone" id="cellphone" type="text">
                    <label for="cellphone">Celular</label>
                    <div class="warning-validator" *ngIf="fgv.phone.errors && (fgv.phone.dirty || fgv.phone.touched)">
                        <strong *ngIf="fgv.phone.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.phone.errors.minlength">
                            Este campo debe tener al menos 12 digitos.
                        </strong>
                        <strong *ngIf="fgv.phone.errors.maxlength">
                            Este campo no debe tener mas de 14 digitos.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input formControlName="email" id="email" type="email">
                    <label for="email">Email</label>
                    <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                        <strong *ngIf="fgv.email.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.email.errors.email">
                            Ingrese una dirección de correo valida.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName="name" id="first_name" type="text">
                    <label for="first_name">Nombres</label>
                    <div class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
                        <strong *ngIf="fgv.name.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.name.errors.minlength">
                            Debe tener al menos 2 caracteres.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName="lastname" id="last_name" type="text">
                    <label for="last_name">Apellidos</label>
                    <div class="warning-validator"
                        *ngIf="fgv.lastname.errors && (fgv.lastname.dirty || fgv.lastname.touched)">
                        <strong *ngIf="fgv.lastname.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.lastname.errors.minlength">
                            Debe tener al menos 2 caracteres.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">map</i>
                    <select formControlName="city">
                        <option value="" disabled selected>Selecciona tu ciudad</option>
                        <option *ngFor="let ciudad of ListaCiudad" type="number" value='{{ciudad.id}}'>{{ciudad.nombre}}
                        </option>
                    </select>
                    <div class="warning-validator" *ngIf="fgv.city.errors && (fgv.city.dirty || fgv.city.touched)">
                        <strong *ngIf="fgv.city.errors.required">
                            Este dato es necesario.
                        </strong>
                        <strong *ngIf="fgv.city.errors.minlength">
                            Debe tener al menos 3 caracteres.
                        </strong>
                    </div>
                </div>



                <div class="input-field col s3">
                    <select formControlName="rol" type="number">
                        <option value="" disabled selected>Elige el rol adecuado</option>
                        <option value="6068f2c6b4388d860e4e2a3a">Administrador</option>
                        <option value="6068f354b4388d860e4e2a3b">Vendedor</option>
                    </select>
                    <label>Rol de usuario</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button (click)="ValidarIdentificacion()"
                        class="btn btn-large btn-register waves-effect waves-light" type="button" name="action">Register
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</fieldset>