<br />
<a class="waves-effect waves-light btn" routerLink="/seguridad/crear-solicitud"><i
        class="material-icons left">add</i>Agregar</a>
&nbsp;
<a class="waves-effect waves-light btn" routerLink="/seguridad/listar-aceptar-solicitudes"><i
        class="material-icons left">add</i>Aceptar solicitudes</a>
&nbsp;
<a class="waves-effect waves-light btn" routerLink="/seguridad/informe-ventas"><i
        class="material-icons left">add</i>Informe ventas </a>

<table class="table responsive-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                fecha solicitud
            </th>
            <th>
                inmuebleId
            </th>
            <th>
                ClienteId
            </th>
            <th>
                oferta economica
            </th>
            <th>
                EstadoId
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: regPorPagina, currentPage: pagina }">
            <th>
                {{r.id}}
            </th>
            <th>
                {{r.fecha_solicitud}}
            </th>
            <th>
                {{r.inmuebleId}}
            </th>
            <th>
                {{r.clienteId}}
            </th>
            <th>
                {{r.Oferta_economica}}

            </th>
            <th>
                {{r.estadoId}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/seguridad/editar-solicitud/{{r.id}}"><i
                        class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <!---
                <a class="waves-effect red waves-light btn" routerLink="/seguridad/aceptar-solicitud/{{r.id}}"><i
                        class="material-icons left">delete</i>Eliminar</a>
                -->
            </th>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="CambioPagina($event)" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>